:root {
    /* 12.75-13.33px */
    --step--1: clamp(0.83rem, calc(0.78rem + 0.07vw), 0.8rem);
    /* 17-20px */
    --step-0: clamp(1.06rem, calc(0.99rem + 0.37vw), 1.25rem);
    /* 22.66-30px */
    --step-1: clamp(1.42rem, calc(1.24rem + 0.9vw), 1.88rem);
    /* 30.21-45px */
    --step-2: clamp(1.89rem, calc(1.53rem + 1.8vw), 2.81rem);
    /* 40.27-67.5px */
    --step-3: clamp(2.52rem, calc(1.85rem + 3.32vw), 4.22rem);
    /* 53.67-101.25px */
    --step-4: clamp(3.35rem, calc(2.19rem + 5.8vw), 6.33rem);
    /* 71.55-151.88px */
    --step-5: clamp(4.47rem, calc(2.51rem + 9.8vw), 9.49rem);
    --delay-1: 1s;
    --delay-2: 2s;
    --delay-3: 3s;
    --delay-4: 4s;
    --delay-5: 5s;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    /*   background-color: #191919; */
    /*   background-color: #F5F5F5; */
  }
  #text-svg path:not(#i-2-dot, #i-1-dot) {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation-name: line-animation;
    animation-timing-function: cubic-bezier(0.23, 0.75, 0.4, 1);
    animation-fill-mode: forwards;
  }
  #T-top {
    /*   stroke: #e3651d; */
    stroke: #363062;
    stroke-width: 3.5px;
    animation-duration: 0.8s;
    animation-delay: 0s;
  }
  #T-bottom {
    opacity: 0;
    /*   stroke: #e3651d; */
    stroke: #363062;
    stroke-width: 3.5px;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
  }
  #ripti {
    opacity: 0;
    /*   stroke: #e3651d; */
    stroke: #363062;
    stroke-width: 3.5px;
    animation-duration: 2.2s;
    animation-delay: 1.3s;
  }
  #T-small-h {
    /*   stroke: #e3651d; */
    stroke: #363062;
    animation-duration: 1s;
    animation-delay: 2.3s;
  }
  #i-2-dot,
  #i-1-dot {
    /*   stroke: #bed754; */
    stroke: #f99417;
    animation-name: bounce-4;
    animation-timing-function: ease;
    animation-duration: 1.8s;
    animation-delay: 3.2s;
    opacity: 0;
    animation-fill-mode: forwards;
    transform: scale(1.1, 0.9) translateX(0) translateY(0);
  }
  #i-2-dot {
    animation-delay: 3.5s;
  }
  @keyframes bounce-4 {
    0% {
      transform: scale(1.1, 0.9) translateX(0) translateY(0);
      opacity: 1;
    }
    30% {
      transform: scale(0.9, 1.1) translateX(50) translateY(-50px);
      opacity: 1;
    }
    50% {
      transform: scale(1, 1) translateX(0) translateY(0);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1) translateX(0) translateY(0);
      opacity: 1;
    }
  }
  #bottom-line-1 {
    opacity: 0;
    /*   stroke: #bed754; */
    stroke: #f99417;
    animation-duration: 1s;
    animation-delay: 3.2s;
  }
  #bottom-line-3 {
    opacity: 0;
    /*   stroke: #bed754; */
    stroke: #f99417;
    animation-duration: 0.8s;
    animation-delay: 3.5s;
  }
  #bottom-line-2 {
    opacity: 0;
    /*   stroke: #bed754; */
    stroke: #f99417;
    animation-duration: 0.8s;
    animation-delay: 3.8s;
  }
  
  /* #ripti-thin {
    opacity: 0;
    stroke: #750e21;
    animation: line-animation 1s 0.2s linear forwards;
  }
  #T-top-2,
  #T-bottom-2,
  #T-top-3,
  #T-bottom-3 {
    opacity: 0;
    stroke: #750e21;
    animation: line-animation 1s 0.2s linear forwards;
  } */
  
  @keyframes line-animation {
    from {
      opacity: 1;
      stroke-dashoffset: 1;
    }
    to {
      opacity: 1;
      stroke-dashoffset: 0;
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .template-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 2rem;
    width: 10rem;
    border-radius: 5px 0 0 0;
    background-color: #ffffba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
  }
  